<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users- Peer Assessment SWP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBoFhrw9RehDmHHFgOV4aFi3TrBfT_PY48",
            authDomain: "swp-peer-assessment.firebaseapp.com",
            databaseURL: "https://swp-peer-assessment.firebaseio.com",
            projectId: "swp-peer-assessment",
            storageBucket: "swp-peer-assessment.appspot.com",
            messagingSenderId: "998218435509"
        };
        firebase.initializeApp(config);

    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="utils.js"></script>

    <link rel="icon" href="peer-review-icon.png">

</head>

<body> <div id="app">

    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="is-size-4">Peer Assessment</h1>
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/assignments">Assignments</a>
                <a class="navbar-item" v-if="userDetails.role == 'admin'" href="/accounts">Users</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item" v-if="user">
                    <a class="button is-success is-inverted" on-click="signOut()">Sign Out</a>
                </div>

                <div class="navbar-item" v-if="!user">
                    <a class="button is-success is-inverted" href="/login">Sign in</a>
                </div>
            </div>
        </div>

    </nav>

    <section class="section">
        <div class="container">

            <h1 class="subtitle is-2">Users of the system</h1>

            <div class="box" v-for="account in accounts">
                
                <div class="columns is-vcentered">
                    <div class="column is-9">
                        <h1 class="subtitle is-3">{{account.firstName + " " + account.secondName}}</h1>
                        <div class="tags has-addons">
                            <span class="tag is-light is-medium">{{account.course}}</span>
                            <span class="tag is-light is-medium">{{account.group}}</span>
                        </div>
                    </div>

                    <div class="column is-3">
                        <a class="button is-medium is-info" v-on:click="goTo('accountDetails?id='+account.id)">Edit user information</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div> </body>

<script>

    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            accounts: [],
            user: {},
            userDetails: {}
        },
        methods: {
            goTo: goTo
        }
    });

    firebase.auth().onAuthStateChanged(user => {
        app.user = user;
        if(user) {
            db.collection("users").doc(user.uid).get()
            .then(doc => {
                if (doc.exists) {
                    app.userDetails = doc.data();
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document");
                }
            }).catch(erorr => {
                console.log("Error getting document: ", error);
            });
        } else {
            // User is signed out
            window.location.href="login";
        }
    }); 

    let db = firebase.firestore();

    db.collection("users").get().then(querySnapshot => {
        querySnapshot.forEach(doc => {
            // doc.data() is never undefined for query doc snapshots
            app.accounts.push(doc.data());
            app.accounts[app.accounts.length-1].id = doc.id;
        });
    });

</script>

</html>