<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assignments - Peer Assessment SWP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBoFhrw9RehDmHHFgOV4aFi3TrBfT_PY48",
            authDomain: "swp-peer-assessment.firebaseapp.com",
            databaseURL: "https://swp-peer-assessment.firebaseio.com",
            projectId: "swp-peer-assessment",
            storageBucket: "swp-peer-assessment.appspot.com",
            messagingSenderId: "998218435509"
        };
        firebase.initializeApp(config);

    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="utils.js"></script>

    <link rel="icon" href="peer-review-icon.png">

</head>

<body> <div id="app">

    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="is-size-4"> Peer Assessment </h1>
            </a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"> Home</a>
                <a class="navbar-item" href="/assignments"> Assignments </a>
                <a class="navbar-item" v-if="userDetails.role == 'admin'" href="/accounts">Users</a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item" v-if="user">
                    <a class="button is-success is-inverted" onclick="signOut()">Sign out</a>
                </div>
    
                <div class="navbar-item" v-if="!user">
                    <a class="button is-success is-inverted" href="/login">Sign in</a>
                </div>
    
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">

            <h1 class="subtitle is-2">Your Assignments</h1>
            
            <div class="box" v-for="assignment in assignments"  v-if="assignment.course == userDetails.course">
                
                <div class="columns is-vcentered">
                    <div class="column is-9">
                        <h1 class="subtitle is-3">{{assignment.name}} </h1>
                        <div class="tags has-addons">
                            <span class="tag is-light is-medium">{{assignment.course}}</span>
                            <span class="tag is-success is-medium">{{assignment.subject}}</span>
                        </div>
                    </div>
                    <div class="column is-3">
                        <a class="button is-medium is-info" v-if="userDetails.role == 'admin'" v-on:click="goTo('assignmentDetails?id='+assignment.id)">Edit Assignment</a>
                        <a class="button is-medium is-warning" v-if="userDetails.role != 'admin'" v-on:click="goTo('solutions?id='+assignment.id)">View Assignment</a>
                        
                    </div>
                </div>
                
            </div>
            
            <div class="has-text-centered">
                <a class="button is-medium is-success" onclick="goTo('assignmentCreation')" v-if="userDetails.role == 'admin'">Add Assignment</a>
            </div>
            

        </div>
    </section>
</div> </body>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            assignments: [],
            user : {},
            userDetails: {}
        },
        methods: {
            goTo : goTo
        }
    })

    firebase.auth().onAuthStateChanged(function (user) {
        app.user = user;
        if (user) {
            db.collection("users").doc(user.uid).get().then(function (doc) {
                if (doc.exists) {
                    //console.log("Document data:", doc.data());
                    app.userDetails = doc.data();

                    db.collection("assignments").where("course", "==", app.userDetails.course).get().then(function (querySnapshot) {

                        querySnapshot.forEach(function (doc) {
                            // doc.data() is never undefined for query doc snapshots
                            app.assignments.push(doc.data());
                            app.assignments[app.assignments.length - 1].id = doc.id;
                        });
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document!");
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });
        } else {
            // User is signed out.
            window.location.href = "login";
        }
    });

    var db = firebase.firestore();

    
</script>

</html>


