<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add assignment - Peer Assessment SWP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <link href="/bulma-calendar/bulma-calendar.css" rel="stylesheet">
    <script src="/bulma-calendar/bulma-calendar.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBoFhrw9RehDmHHFgOV4aFi3TrBfT_PY48",
            authDomain: "swp-peer-assessment.firebaseapp.com",
            databaseURL: "https://swp-peer-assessment.firebaseio.com",
            projectId: "swp-peer-assessment",
            storageBucket: "swp-peer-assessment.appspot.com",
            messagingSenderId: "998218435509"
        };
        firebase.initializeApp(config);

    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="utils.js"></script>

    <link rel="icon" href="peer-review-icon.png">
</head>

<body> <div id="app">

    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="is-size-4"> Peer Assessment </h1>
            </a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"> Home</a>
                <a class="navbar-item" href="/assignments"> Assignments </a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item" v-if="user">
                    <a class="button is-success is-inverted" onclick="signOut()">Sign out</a>
                </div>
    
                <div class="navbar-item" v-if="!user">
                    <a class="button is-success is-inverted" href="/login">Sign in</a>
                </div>
    
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            
            <h1 class="subtitle is-2">Create a new assignment</h1>

            <div class="box">
                <p v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input v-model="name" id="assignmentName" class="input" type="text" placeholder="Enter the name of the assignment" >
                </div>
            </div>
            
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea v-model="description" id="assignmentDesc" class="textarea" placeholder="Enter the description of the assignment" ></textarea>
                </div>
            </div>

            <div class="columns">
                <div class="field column">
                    <label class="label">Course</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="courseIndex" id="course-select">
                                <option disabled value="" >Choose a course</option>
                                <option v-for="(course, index) in coursesArr" :value="index" >{{course.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            
                <div class="field column" id="subject">
                    <label class="label">Subject</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="subjectIndex" id="subject-select">
                                <option disabled value="">Choose a subject</option>
                                <option v-for="(subject, index) in subjects" :value="index" >{{subject}}</option> 
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="has-text-right ">
                <a class="button is-medium is-danger" onclick="goToAssignments()">Cancel</a>
                <a class="button is-medium is-success" v-on:click="checkForm()">Add</a>
            </div>
            <p>Deadline: {{getDeadline()}}</p>
            <input type="datetime" lang="en" data-display-mode="inline" data-close-on-select="false">

            </div>  
            
        </div>
    </section>
</div> </body>

<script>

    var app = new Vue({
            el: '#app',
            data: {
                errors: [],
                coursesArr: [],
                name: null,
                description: null,
                courseIndex: null,
                subjectIndex: null,
                user: null,
                deadline: (new Date()).getTime() / 1000
            }
            ,
        methods: {
            getDeadline: function()
            {
                var date = new Date();
                date.setTime(this.deadline * 1000);
                return date.toString();
            },
            submitAssignment: function() {
                var db = firebase.firestore();
                db.collection("assignments").add({
                    name: this.name,
                    description: this.description,
                    course: this.coursesArr[this.courseIndex].name,
                    subject: this.coursesArr[this.courseIndex].subjects[this.subjectIndex],
                    deadline: this.deadline
                })
                .then(function(docRef) {
                    console.log("Document written with ID: ", docRef.id);
                    //window.location.href = "assignments";
                })
                .catch(function(error) {
                    console.error("Error adding document: ", error);
                });
            },
            checkForm: function (e) {
                console.log();
                if (this.name && this.description && !(this.courseIndex === null) && !(this.subjectIndex === null))
                {
                    this.submitAssignment();
                    return true;
                }

                this.errors = [];

                if (!this.name) {
                    this.errors.push('Name required.');
                }
                if (!this.age) {
                    this.errors.push('Description required.');
                }
                if (this.courseIndex === null) {
                    this.errors.push('Course required.');
                }
                if (this.subjectIndex === null) {
                    this.errors.push('Subject required.');
                }

                e.preventDefault();
            }
        },
        computed: {
            subjects: function () {
                    if(this.courseIndex === null)
                    {
                        return [];
                    }
                    else
                    {
                        this.subjectIndex = null;
                        return this.coursesArr[this.courseIndex].subjects;
                    }
                }
            }
        })

    firebase.auth().onAuthStateChanged(function (user) {
        app.user = user;
        if (user) {

        } else {
            // User is signed out.
            window.location.href = "login";
        }
    });

  function goToAssignments() {
    window.location.href = "assignments";
  }      

  courseSelect = document.getElementById('course-select');
  var db = firebase.firestore();
  db.collection("courses").get().then(function(querySnapshot) {
      querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          app.coursesArr.push(doc.data());
          //courseSelect.innerHTML += "<option value='" + doc.data().name + "'>" + doc.data().name + "</option>";
      });
  });

  // Initialize all input of type date
    var calendars = bulmaCalendar.attach('[type="datetime"]');

    // Loop on each calendar initialized
    for (var i = 0; i < calendars.length; i++) {
        // Add listener to date:selected event
        calendars[i].on('select', date => {
            if (new Date(date.data.value()).getTime() / 1000 > new Date().getTime() / 1000)
            {
                app.deadline = new Date(date.data.value()).getTime() / 1000;
            }
        });
    }

    // To access to bulmaCalendar instance of an element
    var element = document.querySelector('#my-element');
    if (element) {
        // bulmaCalendar instance is available as element.bulmaCalendar
        element.bulmaCalendar.on('select', function (datepicker) {
            console.log(datepicker.data.value());
        });
    }

</script>

</html>


