<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit assignment - Peer Assessment SWP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <link href="/bulma-calendar/bulma-calendar.css" rel="stylesheet">
    <script src="/bulma-calendar/bulma-calendar.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBoFhrw9RehDmHHFgOV4aFi3TrBfT_PY48",
            authDomain: "swp-peer-assessment.firebaseapp.com",
            databaseURL: "https://swp-peer-assessment.firebaseio.com",
            projectId: "swp-peer-assessment",
            storageBucket: "swp-peer-assessment.appspot.com",
            messagingSenderId: "998218435509"
        };
        firebase.initializeApp(config);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="utils.js"></script>

    <link rel="icon" href="peer-review-icon.png">
</head>

<body> <div id="app">

    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="is-size-4"> Peer Assessment </h1>
            </a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"> Home</a>
                <a class="navbar-item" href="/assignments"> Assignments </a>
                <a class="navbar-item" v-if="userDetails.role == 'admin'" href="/accounts">Users</a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item" v-if="user">
                    <a class="button is-success is-inverted" onclick="signOut()">Sign out</a>
                </div>
    
                <div class="navbar-item" v-if="!user">
                    <a class="button is-success is-inverted" href="/login">Sign in</a>
                </div>
    
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">

            <h1 class="subtitle is-2">Edit assignment</h1>
            
            <div class="box">

                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input id="assignmentName" class="input" type="text" placeholder="Enter the name of the assignment">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea id="assignmentDesc" class="textarea" placeholder="Enter the description of the assignment" ></textarea>
                    </div>
                </div>
                <div class="columns">

                    <div class="field column">
                        <label class="label">Course</label>
                        <div class="control">
                            <div class="select">
                                <select id="course-select" onchange="courses(this.value)">
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="field column" id="subject">
                        <label class="label">Subject</label>
                        <div class="control">
                            <div class="select">
                                <select id="subject-select" >
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons level-right">
                    <span class="button is-medium is-danger" v-on:click="deleteAssignment">Delete Assignment</span>
                    <span class="button is-medium is-warning" onclick="goToAssignments()">Cancel</span>
                    <span class="button is-medium is-success" onclick="SubmitAssignment()">Save changes</span>
                </div>
            </div>
            <p>Deadline: {{getDeadline()}}</p>
            <input id="calendarDeadline" type="datetime" lang="en" data-display-mode="inline" data-close-on-select="false">
            
        </div>
    </section>
</div> </body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            user: null,
            deadline: (new Date()).getTime(),
            userDetails: {}
        },
        methods: {
            deleteAssignment : function () {
                var url_string = window.location.href
                var url = new URL(url_string);
                var id = url.searchParams.get("id");
                var db = firebase.firestore();
                db.collection("assignments").doc(id).delete().then(function () {
                    console.log("Document successfully deleted!");
                    window.location.href = "assignments";
                }).catch(function (error) {
                    console.error("Error removing document: ", error);
                });
            },
            getDeadline: function()
            {
                var date = new Date();
                date.setTime(this.deadline);
                return date.toString();
            }
        }
    })
    firebase.auth().onAuthStateChanged(user => {
        app.user = user;
        if(user) {
            db.collection("users").doc(user.uid).get()
            .then(doc => {
                if (doc.exists) {
                    app.userDetails = doc.data();
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document");
                }
            }).catch(erorr => {
                console.log("Error getting document: ", error);
            });
        } else {
            // User is signed out
            window.location.href="login";
        }
    });

    var url_string = window.location.href
    var url = new URL(url_string);
    var id = url.searchParams.get("id");
    var db = firebase.firestore();
    var docRef = db.collection("assignments").doc(id);
    
    docRef.get().then(function(doc) {
        if (doc.exists) {
            SetParametrs(doc);
        } else {
            // doc.data() will be undefined in this case
            console.log("No such document!");
            goTo('404');
        }
    }).catch(function(error) {
        console.log("Error getting document:", error);
    });
    
  function goToAssignments() {
    window.location.href = "assignments";
  }      
  function courses (courseName)
  {
      subSelect = document.getElementById('subject-select');
      var db = firebase.firestore();
      db.collection("courses").get().then(function(querySnapshot) {
          querySnapshot.forEach(function(doc) {
              // doc.data() is never undefined for query doc snapshots
              if(doc.data().name == courseName)
              {
                subSelect.innerHTML='';
                  doc.data().subjects.forEach(function(sub){
                      subSelect.options[subSelect.options.length] = new Option(sub, sub);
                  });  
                subSelect.value =  subSelect.options[0].value;
              }
          }
          )});
  }
  function SetParametrs(curDoc)
    {
        document.getElementById('assignmentName').value = curDoc.data().name;
        document.getElementById('assignmentDesc').value = curDoc.data().description;

        app.deadline = curDoc.data().deadline;

        courseSelect = document.getElementById('course-select');
        var db = firebase.firestore();
        db.collection("courses").get().then(function(querySnapshot) {
        index = 0;
        i = 0;
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
            if(curDoc.data().course == doc.data().name)
            {
               index = i; 
            }
            courseSelect.options[courseSelect.options.length] = new Option(doc.data().name, doc.data().name);
            i = i + 1;
        });
        courseSelect.options[index].selected = true;
        subSelect = document.getElementById('subject-select');
        db.collection("courses").get().then(function(querySnapshot) {
            querySnapshot.forEach(function(doc) {
                // doc.data() is never undefined for query doc snapshots
                
                if(doc.data().name == courseSelect.value)
                {
                    subSelect.innerHTML='';
                    i = 0;
                    index = 0;
                    doc.data().subjects.forEach(function(sub){
                        if(curDoc.data().subject == sub)
                        {
                            index = i;
                        }
                        subSelect.options[subSelect.options.length] = new Option(sub, sub);
                        i = i + 1;
                    });  
                    subSelect.options[index].selected = true;
                }
            }
            )});
        });

        

        var calendars = bulmaCalendar.attach('[type="datetime"]');

        // Loop on each calendar initialized
        for (var i = 0; i < calendars.length; i++) {
            // Add listener to date:selected event
            calendars[i].on('select', date => {
                if (new Date(date.data.value()).getTime()  > new Date().getTime() )
                {
                    app.deadline = new Date(date.data.value()).getTime();
                }
            });
        }
    }
  
    
  function SubmitAssignment()
  {
    var url_string = window.location.href
    var url = new URL(url_string);
    var id = url.searchParams.get("id");
    nameAssi = document.getElementById('assignmentName');
    descAssi = document.getElementById('assignmentDesc');
    courseSelect = document.getElementById('course-select');
    subSelect = document.getElementById('subject-select');
    var db = firebase.firestore();
    db.collection("assignments").doc(id).update({
    name: nameAssi.value,
    description: descAssi.value,
    course: courseSelect.value,
    subject: subSelect.value,
    deadline: app.deadline
    })
    .then(function() {
        window.location.href = "assignments";
    })
    .catch(function(error) {
        console.error("Error adding document: ", error);
    });
  }
  
</script>

</html>