<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solutions - Peer Assessment SWP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBoFhrw9RehDmHHFgOV4aFi3TrBfT_PY48",
            authDomain: "swp-peer-assessment.firebaseapp.com",
            databaseURL: "https://swp-peer-assessment.firebaseio.com",
            projectId: "swp-peer-assessment",
            storageBucket: "swp-peer-assessment.appspot.com",
            messagingSenderId: "998218435509"
        };
        firebase.initializeApp(config);

    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="utils.js"></script>
    
    <link rel="icon" href="peer-review-icon.png">
</head>

<body> <div id="app">

    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="is-size-4"> Peer Assessment </h1>
            </a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"> Home</a>
                <a class="navbar-item" href="/assignments"> Assignments </a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item" v-if="user">
                    <a class="button is-success is-inverted" onclick="signOut()">Sign out</a>
                </div>
    
                <div class="navbar-item" v-if="!user">
                    <a class="button is-success is-inverted" href="/login">Sign in</a>
                </div>
    
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
    
            <h1 class="title is-2" id="assignment">Loading...</h1>
            <h2 class="subtitle is-4" id="subject">Loading...</h2>
            <p class="box subtitle" id="description">Loading...</p>
            <a class="button is-success" v-bind:href="linkz">Download</a>
        </div>
    </section>
        
</div> </body>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            user: null,
            linkz: ""
        }
    })

    let userId; // Id of user entered the page

    // Automatic signing-in into the system
    firebase.auth().onAuthStateChanged(function (user) {
        app.user = user;
        if (user) {
            userId = user.uid; 
        } else {
            window.location.href = "login";
        }
    });

    let db = firebase.firestore();
    var url_string = window.location.href
    var url = new URL(url_string);
    var searchId = url.searchParams.get("id");

    let subject; // Title of subject assignment belongs to
    let name; // Title of the assignment
    let description; // Description of the assignment

    db.collection("assignments").doc(searchId).get()
        .then(snapshot => {
            if (snapshot.data()) {
                // the assignment with specified ID exists
                subject = snapshot.data().subject;
                name = snapshot.data().name;
                description = snapshot.data().description;

                // Set page details according to assingment
                document.title = subject + " " + name;
                document.getElementById('subject').innerHTML = subject;
                document.getElementById('assignment').innerHTML = name;
                document.getElementById('description').innerHTML = description;
            }
            else {
                // the assignment with specified ID does not exist
                window.location.replace(window.location.origin + "/404");
            }
        });

    var getWork = firebase.functions().httpsCallable('getWork');
    function getWorkWrapper()
    {
        getWork({assignemntID: searchId}).then(function(result) {
            if(result.message == "Assignment don't finifhed yet")
            {
                app.ref = "";
                app.link = "";
                console.log("Deadline");
            }
            else if (result.message == "All works are checked")
            {
                app.ref = "";
                app.link = "";
                console.log("All checked");
            }
            else
            {
                app.ref = result.message;
                var storageReference = storage.ref(app.ref);
                app.link = storageReference.getDownloadURL();
                console.log(app.link);
            }
        });
    }
</script>

</html>